doctype html
html
    head
        title Wildcard(*) Team - RMIT
        link(
            rel="stylesheet",
            href="https://rmitwildcard.github.io/assignment-2/style"
        )
    body
        include ../menu/menu
        include ../banner/banner
        block content