doctype html
html
    head
        title Wildcard(*) Team - RMIT
        link(
            rel="stylesheet",
            href="/style.css"
        )
        // href=`${baseUrl}/style.css`
    body
        include ../banner/banner
        block content